.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
*.ods
/_Spatial_Data
bin/
stations_barriers.csv
*.png
TOC_contacts.csv
source for new TB data.url
source for change in fares.url
99_scraping_bin.R
0_Scraping.R
ticket_fares.xlsx
.RDataTmp
/_Source_data
*.pptx
*.pbf
*.obj
*.docx
/lucene
